/* Efectos iconos */

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Moderne Sans';
}

a{
  color: white;
  text-decoration: none;
}

.imagen{
  z-index: -1;
  position: relative;
  top: 0;
  width: 100%;
  height: 1050px;
  background-image: url(../imagenes/background.jpg);
  background-size: 100% 100%;
}

.icon-bars{
  display: none;
  position: absolute;
  z-index: 2;
  top: 85px;
  right: 20px;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
}

.menu_movil{
  display: none;
  border-top: 1px solid rgb(47,182,229);
  position: absolute;
  top: 120px;
  right: 25px;
  z-index: 5;
  width: 70%;
  background-color: rgb(7,17,20);
}

.menu_movil a{
  font-size: 13px;
  display: block;
  padding: 10px;
  border-bottom: 1px solid rgb(23,27,48);
  transition: all .3s linear;
}

.section1 img{
  width: 100%;
  margin-bottom: 10px;
}

.header_top{
  z-index: 1;
  font-size: 14px;
  position: absolute;
  display: flex;
  width: 100%;
  height: 45px;
  background-color: rgba(20, 167, 249, 0.4);
  padding-left: 12%;
  /*padding-right: 10%;*/
}

.header_top_left{
  width: 50%;
  display: flex;
}
.header_top_right{
  width: 50%;
  display: flex;
}

.header_bottom{
  position: absolute;
  top: 70px;
  width: 100%;
  height: 80px;
  padding-left: 10%;
  padding-right: 10%;
}

.header_nav{
  display: flex;
  float: right;
}
/*------------------------------

nav ul{
  list-style: none;
  padding: 0;
}
nav a{
  text-decoration: none;
  color: #ddd;
  padding: 0 5px;
  display: block;
  width: 150px;
  text-align: center;
  transition: 0.7s;
}
nav a:hover{
  background: rgba(0,0,0,0.5);
}
nav li{
  line-height: 5px;
  position: relative;

}
.menu ul{
  position: absolute;
}

/* Primer nivel de lista
.menu{
  display: table;
  width: 100%;
}
nav > ul > li{
  float: left;
}
/* Segundo nivel
nav li li{
  max-height: 0;
  overflow: hidden;
  transition: all .5 ease .2s;
}

nav li:hover > ul > li{
  max-height: 1000px;
  overflow: visible;
}
.menu > li > li{
  top: 100%;
}

/* Tercer nivel

.menu ul ul{
  left: 100%;
  top: 0;
}
ul li ul li{
  display: block;
}
.header_nav{
  position: static;
  width: auto;
}

.menu{
  display: flex;
}
.menu_enlace{
  background: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px aqua;
  padding: 20px;
}
/*------------------------------*/

.header_link{
  width: 100%;
  height: 100%;
  padding-top: 6px;
  margin-right: 20px;
  color: black;
}

.header_link [class^="icon-"]{
  position: relative;
  top: 5px;
  font-size: 20px;
  color: rgb(44, 216, 251);
}

.header_top .soporte{
  width: 40%;
  height: 100%;
  padding-top: 14px;
  margin-right: 40px;
  color: black;
}

.header_top .carrito{
  height: 100%;
  background-color: rgb(71,88,131);
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  transition: all .7s ease;
}
.header_top .carrito:hover{
  color: rgb(44, 216, 251);
}

.header_top .icon-shopping-cart{
  position: relative;
  color: rgb(44, 216, 251);
  margin-right: 10px;
  font-size: 20px;
  top: 5px;
}

.logo{
  float: left;
  position: relative;
  width: 200px;
}
ul.menu li ul{
  display: none;
}
/*
ul.menu li:hover ul{
  top:0;
  display: block;
}
*/
.menu{
  display: flex;
  list-style: none;
}

.menu li{
  font-size: 14px;
  margin-right: 5px;
  transition: all .6s ease;
  padding: 15px;
  cursor: pointer;
}

.menu li:hover,.menu_movil a:hover{
  background-color: rgba(20, 167, 249, 0.4);
}

.menu .selected{
  border-top: 1px solid rgb(44,214,255);
}

.btn-client{
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
  color: white;
  width: 170px;
  height: 50px;
  border: 1px solid rgb(44,214,255);
  padding: 15px;
  border-radius: 3px;
  transition: all  .3s linear;
  cursor: pointer;
}

.btn-client:hover{
  color: rgb(44,214,255);
  border-color: white;
}

.plan{
  width: 100%;
  position: absolute;
  top: 180px;
}

.plan h3{
  word-spacing: -10px;
  text-align: center;
  color: white;
  font-size: 40px;
}
.plans-btn{
  margin-top: -30px;
  justify-content: center;
  display: flex;
}

.btn-plans{
  padding-top: 20px;
  text-align: center;
  margin-right: 30px;
  font-size: 13px;
  color: white;
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease;
  background: linear-gradient(to right, rgb(27,177,216) 50%, rgb(43, 56, 81) 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  border-radius: 4px;
}


.btn-plans:hover{
  background-position: left bottom;
}


.btn-buy{
  color: white;
  text-align: center;
  font-size: 13px;
  padding-top: 20px;
  width: 150px;
  height: 50px;
  background-color: rgb(44,214,255);
  cursor: pointer;
  transition: all .5s ease;
  background: linear-gradient(to right, rgb(27,177,216) 50%, rgb(44,214,255) 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  border-radius: 4px;
}

.btn-buy:hover{
  background-position: left bottom;
}


/* Seccion 2 */

.section2{
  width: 100%;
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30px;
  display: flex;
}

.cols_one_quarter{
  width: 25%;
  padding: 15px;
}

.cols_one_quarter [class^="icon-"]{
  font-size: 35px;
  color: rgb(44, 216, 251);
  transition: all 0s ease;
}

.cols_one_quarter [class^="icon-"]:hover{
  transform:  scale(-1) translateY(3px);
  transition: all 2s ease .2s;
}

.section2 h3{
  text-align: center;
  margin-top: 7px;
  margin-bottom: 7px;
  color: rgb(19,19,19);
}

.section2 p{
  text-align: center;
  line-height: 20px;
  font-size: 11px;
  margin: 0;
  color: rgb(38,38,38);
}

/* Sección 3*/

.section3{
  width: 100%;
  background-color: rgb(241,241,241);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 70px;
}

.section3 h2{
  text-align: center;
  margin-top: 45px;
  margin-bottom: 35px;
}

.section3 > p{
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  margin: 0;
  color: rgb(90,90,90);
  padding: 0% 14%;
  font-weight: bold;
}

.plans{
  padding: 70px 0px;
  display: flex;
}

.table_one_quarter{
  width: 25%;
  margin-left: 2.5%;
  background-color: white;
  transition: all 0.5s ease;
}

.table_one_quarter:hover{
  transform: scale(1.05);
}

.first{
  margin-left: 0px;
}

.plans_head{
  width: 100%;
  background-color: rgb(43,56,81);
  padding: 18px;
  color: white;
}

.blue{
  background-color: rgb(44, 216, 251);
}

.section3 h3{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 24px;
}

.section3 h4{
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 60px;
  letter-spacing: -4px;
}

.s1{
  font-size: 30px;
  font-weight: 300;
  vertical-align: text-top;
}

.s2{
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 1px;
}

.texto{
  color: white;
  text-align: center;
  line-height: 20px;
  margin: 0px;
  font-size: 13px;
}

.plans ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.plans ul li{
  text-align: center;
  border-bottom: 1px solid #E7E7E7;
}

.plans ul li a{
  display: block;
  padding: 10px 0;
  text-decoration: none;
  background-color: white;
  color: #555;
  font-size: 15px;
  transition: all .5s ease;
}

.plans ul li a:hover{
  color: rgb(44, 216, 251);
}

.section3 .boton{
  margin: 1em 0 1em;
  border: 1px solid #2bdefc;
  display: inline-block;
  width: 80%;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  transition: 0.6s all;
  font-size: 15px;
}

.blanco{
  width: 100%;
  background-color: white;
}

.table_one_quarter:hover .boton{
  background-color: #2bdefc;
  color: white;
}

.letra_blanca{
  color: white;
}

.letra_negra{
  color: black;
}

.table_one_quarter_last{
  width: 25%;
  margin-left: 2.5%;
  background-color: white;
  height: 300px;
  padding: 32px 16px;
}

.table_one_quarter_last p{
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #D2D2D2;
  color: #555;
}

.table_one_quarter_last h5{
  color: #2bdefc;
  font-size: 1.5em;
  margin: 25px 0 8px;
  text-align: center;
}

.table_one_quarter_last:hover .boton{
  background-color: #2bdefc;
  color: white;
}

.contact_boton{
  background-color: #4a5a73;
  padding: 12px 40px;
  color: white;
  border-radius: 5px;
  width: 200px;
  transition: 0.6s all;
}

.contact_boton:hover{
  background-color: #2bdefc;
}

.domain{
  padding-top: 30px;
  background-color: rgb(44, 214, 255);
  color: rgb(37, 37, 37);
  padding-bottom: 80px;
}

.domain h3{
  text-align: center;
  word-spacing: -10px;
  font-size: 40px;
}

.domain .search{
  position: relative;
  margin: auto;
  display:inline-flex;
  justify-content: center;
  border: 1px solid rgb(213,213,213);
  padding: 3px;
}
.domain-input{
  padding: 20px;
  word-spacing: -10px;
  color: rgb(93,93,93);
  font-family: 'Moderne Sans';
  font-size: 20px;
  width: 500px;
  height: 60px;
}
.domain-input::-webkit-input-placeholder{
  color: rgb(93,93,93);
  font-family: 'Moderne Sans';
}

.domain-input::-moz-input-placeholder{
  color: rgb(93,93,93);
  font-family: 'Moderne Sans';
}

.domain-submit{
  height: 60px;
  width: 60px;
  background-color: white;
  cursor: pointer;
  border:0;
}
.icon-search{
  font-size: 30px;
  color: rgb(88, 86, 82)
}

.domain-select{
  width: 120px;
  height: 60px;
  z-index: 1;
}

.domain-select select{
  color: rgb(93,93,93);
  font-family: 'Moderne Sans';
  font-size: 20px;
  height: 100%;
  padding: 5px 8px;
  width: 100%;
  border: 1px solid rgb(193,193,193);
  box-shadow: none;
  background-color: white;
  background-image: none;
  appearance: none;
}

/* Seccion 4 */
.services{
  width: 100%;
  background-image: url(../imagenes/servidor.jpg);
  background-size: 100% 100%;
}

.services_trans{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 90px;
  color: white;

}

.services h3{
  font-size: 30px;
  text-align: center;
  word-spacing: -5px;
}
.services .span1 p{
  color: rgb(201,201,201);
  margin-bottom: 20px;
  width: 65%;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
}

.services .span2{
  margin-top: 100px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.span2 .top{
  margin-bottom: 80px;
}

.span2 .top,.bottom{
  display: flex;
  justify-content: center;
}

.span2 .col-3{
  display: inline-flex;
  margin-left: 20px;
}

.col-3 .icon{
  margin-right: 0px;
}

.col-3 .icon img{
  width: 50px;
  transition: all 0s linear;

}

.col-3 .icon img:hover{
  transform:  scale(-1) translateY(3px);
  transition: all 2s ease .2s;
}


.col-3 .description{
  float: right;
  margin-left: 25px;
}

.description h3{
  font-size: 22px;
  margin-top: -5px;
  text-align: left;
}

.description p{
  padding-left: -30;
  margin-bottom: 50px;
  text-align: left;
  font-size: 12px;
  line-height: 18px;
}

.description a{
  text-align: center;
  padding: 12px;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #2bdefc;
  background-color: transparent;
  transition: all .3s linear;
}

.description a:hover{
  background-color: #2bdefc;
}

/*Seccion 5*/

.section5{
  width: 100%;
  background-color: rgb(241,241,241);
  padding: 5em 0 0;
  height: 557px;
}

.section5 .container,.testimonial .container{
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 15px;
  padding-right: 15px;
  /*width: 1170px;*/
}

.section5 h4{
  text-align: center;
  color: #313131;
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 10px;
}

.texto1{
  color: #969696;
  font-size: 1em;
  width: 65%;
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
}

.texto2{
  color: #555;
  line-height: 1.8em;
  margin: 0 0 12px;;
  font-size: 12px;
}

.section5 .span5{
  margin-top: 2em;
  display: flex;
}

.span_5-left{
  margin-top: 6em;
  width: 41.66666%;
  padding-right: 15px;
  padding-left: 15px;
}

.span_5-right{
  width: 58.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

.learn_more_boton{
  background-color: #2bdefc;
  padding: 12px 30px;
  color: white;
  border-radius: 5px;
  width: 150px;
  transition: 0.5s all;
  font-size: 13px;
  text-align: center;
}

.learn_more_boton:hover{
  transform: scale(0.95);
  background-color: #304962;
}

.span_imagen{
  width: 100%;
  height: 533px;
}

.span_imagen img{
  width: 100%;
  height: 100%;
}

.testimonial{
  background-color: white;
  width: 100%;
}

.comillas{
  margin-left: 50px;
  width: 8%;
  height: 100px;
}

.comillas img{
  width: 100%;
  height: 100%;
}

.cols2{
  width: 50%;
  margin: 120px 0 70px;
  display: flex;
}

.cols2 .foto{
  width: 15%;
}

.foto img{
  width: 100%;
}

.cols2 .text_description{
  width: 85%;
  padding-left: 30px;
}

.link{
  text-decoration: none;
  color: #2bdefc;
  font-style: italic;
}

/*Seccion 6*/

.mapa iframe{
  width: 100%;
  height: 300px;
  border: none;
}

/* Contacto */

.contact{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
}

.contact .container{
  padding: 5px;
}

.contact .contact_left{
  float: left;
}
.contact .contact_right{
  float: right;
}

 .contact_form input,textarea{
  display:block;
  margin-bottom: 15px;
  padding-left: 15px;
  font-size: 15px;
}

.contact_form input[type='text']{
  width: 400px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(203,203,203);

}

.contact_form textarea{
  resize: none;
  width: 450px;
  height: 100px;
  border-radius: 4px;
  border: 1px solid rgb(203,203,203);
  padding-top: 10px;
}

.contact_form input[type='submit']{
  font-size: 17px;
  background-color: rgb(44,214,255);
  color: white;
  border-radius: 4px;
  border: none;
  width: 170px;
  height: 40px;
  transition: all .4s linear;
}

.contact_form input[type='submit']:hover{
  background-color: rgb(43,56,81);
  transform: scale(.97);
}

.contact_right ul{
  display: inline-flex;
  padding-left: 0;
}

.contact_right ul li {
  list-style: none;
  padding: 15px;
  margin-right: 15px;
  border: 2px solid rgb(217,217,217);
  border-radius: 50%;
}

.contact_right ul li:hover [class^='icon-']{
  color: gray;
}
.contact_right [class^='icon-']{
  color: black;
  font-size: 30px;


}

/*Diseño responsivo */

@media (max-width:420px) {
  .imagen{
    background-image: url(../imagenes/background2.jpg);
    height: 500px;
  }

  .header_top{
    display: block;
    height: auto;
  }
  .header_top_left{
    width: 100%;
    display: flex;
  }

  .header_top_right{
    width: 100%;
    display:flex;
  }
  .header_link{
    width: 30vw;
    margin-left: 30px;
  }

  .carrito .icon-shopping-cart{
    font-size: 20px;
  }
  .carrito{
    font-size: 12px;
    width: 50vw;
    padding-bottom: 10px;
  }
  .soporte{
    font-size: 13px;
    width: 80vw;
    margin-left: -30px;
  }
  .header_bottom{
    top: 80px;
  }
  .header_bottom .logo{
    width: 120px;
  }
  .header_nav{
    display: none;
  }
  .plan{
    top: 125px;
  }

  .plan h3{
    font-size: 16px;
    word-spacing: -2px;
  }

  .plan .plans-btn{
    margin-top: 0px;
  }
  .plans-btn .btn-plans,.btn-buy{
    font-size: 12px;
    width:110px;
    height: 30px;
    padding: 10px;
  }

  .section2{
    display: block;
  }
  .cols_one_quarter{
    width: 100%;
  }

  .section3 h2{
    margin-bottom: 10px;
    font-size: 20px;
  }

  .section3 p{
    padding: 0;
    font-size: 12px;
  }
  .plans{
    display: block;
  }
  .plans .table_one_quarter,.table_one_quarter_last{
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0;
  }

  .plans .table_one_quarter_last{
    margin-bottom: 0;
  }

  .domain{
    padding-bottom: 50px;
  }

  .domain h3{
    font-size: 20px;
    word-spacing: 0px;
  }
  .domain .search{
    width: 90vw;
  }
  .domain .search .domain-input,.domain-select,.domain-submit{
    height: 50px;
  }
  .domain .search .domain-input{
    word-spacing: -6px;
    font-size: 13px;
    width: 160px;
    height: 50px;
  }
  .domain .search .domain-select select{
    font-size: 16px;
  }

  .span2 .top, .bottom{
    display: block;
  }

  .description{
    margin-bottom: 60px;
  }

  .span2 .top{
    margin-bottom: 0px;
  }

  .texto1{
    width: 100%;
    font-size: 13px;
  }

  .section5 .span5{
    display: block;
    margin-top: -50px;
  }

  .span_5-left, .span_5-right{
    width: 100%;
  }

  .span_imagen{
    width: 95%;
    height: 200px;
    margin-left: 30%;
    margin-top: 20px;
  }

  .comillas{
    height: 70px;
    margin-left: 30px;
  }

  .cols2{
    width: 100%;
  }

  .cols2 .foto{
    width: 20%;
  }

  .cols2 .text_description{
    width: 80%;
    padding-left: 20px;
  }

  .contact {
    display: block;
    padding: 0px;
  }

  .contact .container{
    display: block;
  }
  .contact .contact_left{
    margin-left: 10%;
    margin-bottom: 30px;
  }
  .contact .contact_right,.contact_left{
    clear:both;
    float: none;
  }

  .contact .contact_right{
    margin-left: 10%;
  }

   .contact .contact_form input[type='text']{
     width: 200px;
   }
   .contact .contact_form textarea{
     width: 250px;
   }
   .contact .contact_form input[type='submit']{
     width: 130px;
   }
   .icon-bars{
     display: block;
   }

}

@media (min-width:1024) {
  .carrito{
    width: 45%;
  }
  .soporte{
    margin-left: 15%;
  }
  .header_top{
    padding-right: 10%;
  }
  .contact .container{
    display: inline-flex;
  }
}

.mostrar{
  display: block;
}


/* Fuentes */

@font-face {
  font-family: 'Moderne Sans';
  src: url('../fonts/MODERNE_SANS.ttf');
}
